
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;

}

/* utility Updated bootstrap clases */
.bg-main{
  background-color:#333 !important;
}
.bg-green{
  background-color: #93cb52 !important;
}
.bg-white{
  background-color: #fff !important;
}
.text-green{
  color:#93cb52 !important;
}
